Store_Info{
	background-image: url("home.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	width: 100%;
	display: block;
	color:black;
	text-align:center;
	font-family: Comic Sans MS;
	font-size:20px;
}

Logo{	
	background-image: url("logo.png");
	background-size: cover;
	height:120px;
	width:300px;
	text-align: center;
	display:block;
	margin-left:40%;
	display:block;
	
}

pic1{
	background-image:url("pic1.jpg");
	height:300px;
	width:250px;
	display:block;
	margin-left:30%;
	margin-top: 1%;
}
pic2{
	background-image:url("pic2.jpg");
	height:300px;
	width:350px;
	display:block;
	margin-left:15%;
	margin-top: 1%;
}
pic3{
	background-image:url("pic3.jpg");
	height:300px;
	width:350px;
	display:block;
	margin-left:15%;
	margin-top: 1%;
}

pic4{
	background-image:url("pic4.jpg");
	height:300px;
	width:350px;
	display:block;
	margin-left:15%;
	margin-top: 1%;
}
pic5{
	background-image:url("pic5.jpg");
	height:300px;
	width:350px;
	display:block;
	margin-left:15%;
	margin-top: 1%;
}
pic6{
	background-image:url("pic6.jpg");
	height:300px;
	width:350px;
	display:block;
	margin-left:15%;
	margin-top: 1%;
}

pic7{
	background-image:url("pic7.jpg");
	height:300px;
	width:350px;
	display:block;
	margin-left:15%;
	margin-top: 1%;
}
pic8{
	background-image:url("pic8.jpg");
	height:300px;
	width:350px;
	display:block;
	margin-left:15%;
	margin-top: 1%;
}
pic9{
	background-image:url("pic9.jpg");
	height:300px;
	width:350px;
	display:block;
	margin-left:15%;
	margin-top: 1%;
}
pic10{
	background-image:url("pic10.jpg");
	height:300px;
	width:350px;
	display:block;
	margin-left:15%;
	margin-top: 1%;
}
pic11{
	background-image:url("pic11.png");
	height:300px;
	width:350px;
	display:block;
	margin-left:15%;
	margin-top: 1%;
}
pic12{
	background-image:url("pic12.png");
	height:300px;
	width:350px;
	display:block;
	margin-left:15%;
	margin-top: 1%;
}
pic13{
	background-image:url("pic13.jpg");
	height:300px;
	width:350px;
	display:block;
	margin-left:15%;
	margin-top: 1%;
}
pic14{
	background-image:url("pic14.jpg");
	height:300px;
	width:350px;
	display:block;
	margin-left:15%;
	margin-top: 1%;
}
pic15{
	background-image:url("pic15.jpg");
	height:300px;
	width:350px;
	display:block;
	margin-left:15%;
	margin-top: 1%;
}
Store_Name{
	display: block;
}

Country{
	display:block;
}

City{
	display:block;
}

Mobile{
	display:block;
}

Landline{
	display:block;
}

Website{
	display:block;
}

Songs{

	color:white;
	text-align:left;
	background-color:black;

}

b{
	color: #ff0000;
	font-size: 20px;
}

Categories{

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 2rem;
	
}

genre{

	display: inline-block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	color:white;
	background-color:black;
	border: 1px solid white;
	
}

additional_info{
	color:white;
	text-align:left;
	background-color:black;
}

Name{
	padding: 1%;
	text-transform: uppercase;
	display:block;
	color:#008000;
	font-family: Berlin Sans FB;
	font-size: 30px;
	border-style: dotted;
	
}

Recorded{
	display:block;
	margin-left: 1%;
}

singer{
	display:block;
	margin-left:35%;
	margin-top: 1%;
}

category{
	display:block;
	margin-left: 1%;
}

Producer{
	display:block;
	margin-bottom: 1%;
	margin-left: 1%;
}

Writer{
	display:block;
	margin-left: 1%;
}

Released{
	display:block;
	margin-left: 1%;
}

Quantity{
	display:block;
	margin-left: 1%;
}

Price{
	display:block;
	margin-left: 1%;
}

song_description{
	display:block;
	margin-left: 1%;
}
Quantity, Price, category, Released, Recorded, Writer, Producer{
	display: list-item;
	list-style-type: square;
	margin-left: 20px;
}

